* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 150%;
    text-rendering: optimizeLegibility;
    font-weight: 300;
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("/img/studyimg.jpeg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.row {
    width: 1140px;
    margin: 0;
}

.main-navigation {
    
}

.main-navigation li {
    padding: 10px 0;
    text-transform: uppercase;
    margin: 30px 40px;
    display: inline-block;
}

.main-navigation li a {
    text-decoration: none;
    color: white;
}