* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@keyframes animateComponents {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }

    60% {
        transform: translateX(50deg);
    }

    100% {
        opacity: 1;
        transform: translateX(50deg);
    }
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    font-weight: 200;
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("/img/business-1209705.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

h1 {
    color: white;
    font-size: 100px;
    margin-bottom: 50px;
    animation: animateComponents ease-out 0.7s;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    padding: 50px 0;
    color: #1dd1a1;
}

.main-heading {
    top: 40%;
    left: 30%;
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-left: 30px;
    margin-bottom: 50px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.main-heading p {
    color: white;
    margin-left: 130px;
    margin-bottom: 50px;
    margin-top: 40px;
}

.main-heading p:hover {
    animation: animateComponents ease-out 0.5s;
}

.main-heading a {
    margin-left: 125px;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    border-radius: 200px;
    padding: 10px 30px;
    background-color: #1dd1a1;
}

.main-heading a:active, .main-heading a:hover {
    background-color: #1dd1a1;
}

.row {
    width: 1140px;
    margin: 0 auto;
}

.main-navigation li {
    padding: 18px 5px;
    text-transform: uppercase;
    margin: 44px 50px;
    display: inline-block;
}

.main-navigation li a {
    text-decoration: none;
    color: white;
    padding: 8px 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-navigation li a:active, .main-navigation li a:hover {
    border-bottom: 2px solid #1dd1a1;
}


.btn-more a {
    margin-top: 30px;
    float: right;
    margin-left: 30px;
}

.btn-more a:active, .btn-more a:hover {
    background-color: #1dd1a1;
    border: 1px solid #1dd1a1;
}

.welcome-text {
    padding: 10px 40px;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 100px;
}

.main-footer {
    background-color: #1dd1a1;
    padding: 60px 20px;
}

.main-footer li {
    display: inline-block;
    padding: 20px 0;
    margin-left: 30px;
    text-align: center;
}

.main-footer li a {
    color: white;
    text-decoration: none;
}