* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@keyframes animateComponents {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }

    60% {
        transform: translateX(50deg);
    }

    100% {
        opacity: 1;
        transform: translateX(50deg);
    }
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    font-weight: 200;
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("/img/business-1209705.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

h1 {
    color: white;
    font-size: 100px;
    margin-bottom: 50px;
    animation: animateComponents ease-out 0.7s;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    padding: 60px 0;
    margin-top: 20px;
    margin-bottom: -10px;
    color: #1dd1a1;
    animation: animateComponents ease-out 0.7s;
}

h2:after {
    display: block;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 38px;
    height: 2px;
    background-color: #1dd1a1;
}

h3 {
    padding: 35px 90px;
    margin-top: 20px;
    margin-left: -40px;
    animation: animateComponents ease-out 0.7s;
    text-transform: uppercase;
    line-height: 1px;
    display: inline-block;
    overflow: hidden;
    clear: both;
}

.main-heading {
    top: 40%;
    left: 28%;
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-left: 70px;
    margin-bottom: 80px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.main-heading h1 {
    margin-left: -5px;
}

.main-heading p {
    color: white;
    margin-left: 123px;
    margin-bottom: 40px;
    margin-top: -15px;
}

.main-paragraph {
    padding: 18px 0;
}

.projects-heading p {
    margin-left: 130px;
}

.main-heading p:hover {
    animation: animateComponents ease-out 0.5s;
}

.row {
    width: 1140px;
    margin: 0 auto;
}

.main-navigation li {
    padding: 18px 5px;
    text-transform: uppercase;
    margin: 44px 50px;
    display: inline-block;
}

.main-navigation li a {
    text-decoration: none;
    color: white;
    padding: 8px 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-navigation li a:active, .main-navigation li a:hover {
    border-bottom: 2px solid #1dd1a1;
}

.main-navigation .hobbies-link {
    margin-left: -10px;
}

.btn-more a {
    margin-top: 30px;
    float: right;
    margin-left: 30px;
}

.welcome-text {
    padding: 10px 40px;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 100px;
}

.github-link {
    margin-left: -45px;
}

.personal-life-heading {
    top: 35%;
    left: 100%;
}

.section-projects {
    margin-top: 60px;
    margin-bottom: 90px;
}

.section-projects a {
    text-align: center;
    text-decoration: none;
    margin-left: 597px;
    text-transform: uppercase;
    color: #1dd1a1;
    letter-spacing: 1px;
    word-spacing: 1px;
    transition: color 0.2s, border 0.2s;
    padding: 10px 0;
    transition: border-bottom 0.2s, color 0.2s;
    border-bottom: 2px solid transparent;
}

.section-projects a:active, .section-projects a:hover {
    border-bottom: 2px solid #1dd1a1;
}

.section-projects a:active, .section-projects a:hover {
    color: black;
}

.projects-paragraph-text {
    margin-bottom: 50px;
    margin-top: -10px;
    padding-left: 50px;
}

.main-footer {
    background-color: #1dd1a1;
    padding: 20px 13px;
}

.main-footer li {
    display: inline-block;
    padding: 10px 0;
    margin-left: 200px;
    text-align: center;
    margin-top: 40px;
    text-transform: uppercase;
}

.main-footer li a:active, .main-footer li a:hover {
    color: black;
    border-bottom: 2px solid #1dd1a1;
}

.main-footer p {
    letter-spacing: 1px;
    word-spacing: 1px;
    text-align: center;
    margin-left: 15px;
    margin-top: 20px;
}

.main-footer li a {
    color: white;
    text-decoration: none;
    transition: border 0.2s, color 0.2s;
    border-bottom: 2px solid transparent;
}

.projects-icon {
    font-size: 40px;
    color: #1dd1a1;
    display: block;
    margin-left: 44px;
    margin-bottom: -27px;
}

.projects-icon:hover {
    animation: animateComponents ease-out 0.5s;
}